*{
	margin: 0;	padding: 0;
	cursor: url(./images/cursor.cur), default;

 }
 
 @font-face {
    font-family: 'SCD5';
    src: url('./font/SCDream5.otf') format('woff');
}

@font-face {
    font-family: 'SCD4';
    src: url('./font/SCDream4.otf') format('woff');
    letter-spacing: 6%;
}

@font-face {
    font-family: 'SCD3';
    src: url('./font/SCDream3.otf') format('woff');
	letter-spacing: 6%;
}

@font-face {
    font-family: 'SCD6';
    src: url('./font/SCDream6.otf') format('woff');
}

@font-face {
    font-family: 'Yoon5';
    src: url('./font/YoonV YoonGothic500Std_OTF 30.otf') format('woff');
}

@font-face {
    font-family: 'Bodoni 72';
    src: url('./font/Bodoni-72-Book-Italic.otf') format('woff');
}


 body{
	background-color: white;
	color:#1C1B20;
	cursor: url(./images/cursor.cur), default;
 }

 /* 헤더  */
 
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #ffffff30;
}

.headA{
	font-family: 'SCD4';
	display: inline-block;
	line-height: 70px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	font-size: 15px;
	width: 50px;
	text-align: center;
	color: black;
	font-weight: 900;
}

header .container{
    height: 52px;
    width: 100vw;
}

.headB{
	position: relative;
    padding-right: 5px;
	font-family: 'SCD3';
}

.headB ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a{
	font-family: 'SCD4';
    display: block;
    padding: 15px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    position: relative;

    z-index: 10;
}

.container-small button{
    color: black;
}


.headB .bar{
	background-color: #FFE64E;
	width: inherit;
	height: 5px;

	position: relative;
	top: 25px;
	z-index: 0;

	opacity: 0;

	transition: all 0.3s ease-in-out;
}

@media (min-width: 768px){
   header > .container{
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    max-width:88vw;
	    margin-left: auto;
	    margin-right: auto;
	}

	.headB > ul{
		display: flex;
	}
}

@media (min-width: 768px){
	.headC{
		display: none;
	}

	.headB{
		display: block !important;
	}
}

@media (max-width: 767px){

	header .container{
		height: 70px;
	}

	header .headB{
		background-color: #f7f7f7;
	}

	.headB a{
		transition: all 0.3s ease-in-out;
	}

	.headB a:hover{
		border-radius: 0;
	}

	header .container-small{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.contentContainer{
		margin-top:80px;
	}

	.people{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.designer{
		margin-top: 80px;
		position: relative;
		display: flex;
	}

	.designer h3{
		font-weight: 100;		
	}

	.designer a{
		text-decoration: none;
		color: black;
	}

	.designer img{
		position: absolute;
		opacity: 0;
		width: 180px;
		height: 180px;
	    top: calc(50% - 90px);
	    left: calc(50% - 90px);
	    transition: opacity 0.5s ease-in-out;
	}

	.designer:hover img{
		opacity: 1;
	}

	.searchBar{
		display: none;
	}

	.depart h2{
		text-align: center;
	}
}

.headC{
	margin-right: 10px;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	font-size: 28px;
	opacity: 0.5;
	cursor: pointer;
}

.headC:hover{
	opacity: 0.3;
}


    /* Main page */

    .main {
	overflow-y:visible;
	}

    .yellowsquare {
	background-color:#FFE64E;
	top:52px;
	position:absolute;
	right:0;
	width:50vw;
	height:100%;
	transition: all 4s ease-in;
	}

	.scroll {
		writing-mode: vertical-rl;
		display:flex;
		flex-flow:row nowrap;
		justify-content:center;
		align-items:center;
		position:absolute;
		bottom:20vh;
	}

	.scroll p {
		margin-bottom:20px;
		font-size:14px;
		font-family: 'SCD6';
	}


	.title > .start {
	font-family:'Gilroy',sans-serif; 
	font-weight:bold;
	font-size:180px;
	position:absolute;
	top:20vh;
	line-height:150px;
	left:40.6vw;
	color:#1C1B20;
	transition: all 4s ease-in;
	}

	.yellowcircle {
	color:#FFE64E;
	font-size:34px;
	position:absolute;
	top:46vh;
	left:36vw;	
	transition: all 4s ease-in;
    }

    .appear {
	display:inline;
	position:absolute;
	top:28vh;
	right:12vw;
	
	}

	.appear > .iconandtext {
	position:absolute;
	right:0;
    font-size:14px;
	margin-bottom:30px;
	 font-family:'Bodoni 72', serif;
	display:flex;
	flex-flow:row nowrap;
	}

	.iconandtext img {
	margin-right:8px;
	}
	

	.appear > .restart {
		font-size:22px;
		font-weight:900;
		margin-top:48px;
		margin-bottom:14px;
		font-family:'Gilroy',sans-serif; 
 	}

	.appear > .sentence {
	 font-family:'YoonGothic 500 Std OTF', sans-serif;
     font-size:18px;
     font-weight:normal;


	}


	/* About us  */

	.aboutus {

		margin: 0;
		padding: 0;
		display:flex;
		flex-flow:row nowrap;
		white-space:nowrap;
		margin-top:54px;
		width:11440px;
		height:92.7vh;
		font-family:'Gilroy',sans-serif;   
		z-index:4;
	}
	
	.concept {
		position:absolute;
		left:5vw;
		width:95vw;
		height:92.7vh;
		margin-left:auto;
		margin-right:auto;	
		z-index:2;
		background-color:#f8f8f8;
	}

	.concept h1 {
		font-size:110px;
		font-weight:900;
		line-height:90px;
		color:#FFE64E;
		margin-left:8vw;
		padding-top:14vh;
		padding-bottom:8vh;
	}
	
	.concept h2 {
		font-size:30px;
		font-weight:900;
		line-height:40px;
	    margin-bottom:6.8vh;
		margin-left:8vw;
	}

	.concept .department {
		font-size:34px;
		font-weight:normal;
		font-family:'Bodoni 72', serif;
	}

	.concept p {
	margin-left:8vw;
	font-size:14px;
	font-family:'YoonV YoonGothic500Std_OTF',sans-serif;
	}


	.designdesigner {
		position:absolute;
		right:0;
	    bottom:0;
		width:46vw;
		height:58vh;
		background-color:#1C1B20;
	}

    .two {
	display:flex;
	flex-flow:row nowrap;
	padding-left:10vw;
	padding-top:8vh;
	}


    .design li, .designer li {
		font-family: 'SCD3';
		font-size:14px;
		color:#ffffff;
		list-style:none;
		font-weight:200;
	}

	.two .name {
	 margin-bottom:20px;
	 font-size:18px;
	 font-weight:900;
	 font-family:'Gilroy', sans-serif; 
	}

	.design {
		margin-right:200px;
	}


	/* Journey  */

	.journey-1 {
		position:absolute;
		left:1920px;
		width:100vw;
		background-color:#F8F8F8;
	}

	
	.journey-2 {
		position:absolute;
		left:3840px;
		width:100vw;
		background-color:#F8F8F8;
	
	}

	
	.journey-3 {
		position:absolute;
		left:5760px;
		width:100vw;
		background-color:#F8F8F8;
		
	
	}

	
	.journey-4 {
		position:absolute;
		left:7680px;
		width:100vw;
		background-color:#F8F8F8;
	
	}

	
	.journey-5 {
		position:absolute;
		left:9600px;
		width:100vw;
		background-color:#F8F8F8;
	
	}

	.firstpic, .secondpic, .thirdpic, .fourthpic, .fifthpic {
	height:68vh;
	width:100vw;
	padding-top:10vh;
	object-fit:cover;
	background-size:cover;
	}
	
	.text{
	position: fixed;
    Z-index:1;
	left:6vw;
	bottom:9vh;
	}

    .title{
	color:#FFE64E;
	font-size:130px;
	line-height:90px;

	}

 


 
 @media (max-width: 767px){
 
body {
	overflow-x:hidden;
}

	header .container{
	   height: 70px;
	}
 
	header .headB{
	   background-color: #f7f7f7;
	}
 
	.headB a{
	   transition: all 0.3s ease-in-out;
	}
 
	.headB a:hover{
	   border-radius: 0;
	}
 
	header .container-small{
	   display: flex;
	   align-items: center;
	   justify-content: space-between;
	}
 
	.contentContainer{
	   margin-top:80px;
	}
 
	.people{
	   display: flex;
	   justify-content: flex-start;
	   align-items: center;
	   flex-direction: column;
	   flex-wrap: wrap;
	}
 
	.designer{
	   margin-top: 80px;
	   position: relative;
	   display: flex;
	}
 
	.designer h3{
	   font-weight: 100;
	   opacity: 0;
	}
 
	.designer a{
	   text-decoration: none;
	   color: black;
	}
 
	.designer img{
	   position: absolute;
	   opacity: 1;
	   width: 180px;
	   height: 180px;
		top: calc(50% - 90px);
		left: calc(50% - 90px);
		transition: opacity 0.5s ease-in-out;
	}
 
	.designer:hover h3{
	   opacity: 1;
	}
 
	.searchBar{
	   display: none;
	}
	  


    	/* Main page */


	    /* About us */

	 
		.aboutus {
			overflow-y:scroll;
			overflow-y:visible;
			display:flex;
			flex-flow:column nowrap;
			justify-content:center;
     		align-items:center;
			width:100vw;
			height:100vh;
			margin: 0;
			padding-top:40vh;
			display:flex;
			z-index:4;
			background-color:#f8f8f8;
		}
		
		.concept {
			display:flex;
			flex-flow:column nowrap;
			align-items:center;
			justify-content:center;
			z-index:2;
			font-family:'Gilroy',sans-serif;   
	
		}
	
		.concept h1 {
			font-size:110px;
			font-weight:900;
			line-height:90%;
			color:#FFE64E;
			margin-left:8vw;
			margin-bottom:8vh;

			text-align:center;
		}
		
		.concept h2 {
			font-size:30px;
			margin-bottom:6.8vh;
			margin-left:8vw;
			text-align:center;
		}
	
		.concept .department {
			font-size:34px;
			font-weight:normal;
		font-family:'Bodoni 72', serif;
			
		}
	
		.concept p {
		margin-left:8vw;
		padding-bottom:8.8vh;
		font-family:'YoonV YoonGothic500Std_OTF',sans-serif;
		text-align:center;
		}
	
		.designdesigner {
			width:100vw;
			background-color:#1C1B20;
		}
	
		.two {
		display:flex;
		flex-flow:column nowrap;
		align-items:center;
		justify-content:center;
		padding-left:10vw;
		padding-top:8vh;
		padding-bottom:8vh;
		text-align:center;
		
		}
	
		.design li, .designer li {
			font-family:'SCD3';
			font-size:14px;
			color:#ffffff;
			list-style:none;
			font-weight:200;
		}
	
		.two .name {
		font-size:18px;
		 margin-bottom:20px;
		 font-family:'Gilroy', sans-serif; 
		}

	    .two img {
		width:24px;
		height:24px;
		}

		.designer img {
		align-items:center;
		position:absolute;
		left:6vw;
		}

	  .journeys {
		margin:0;
		padding:0;
		display:flex;
		flex-flow:column nowrap;
		justify-content:center;
		align-items:center;
	    position:absolute;
		top:1400px;
	
	  }
	  
	  .journeys img {
	    width:100vw;
		
	  }
		
	   .text {
		text-align:center;
		padding-top:30vh;
	   }  

		.title{
		font-family:'Gilroy',sans-serif;  
		color:#FFE64E;
		font-size:60px;
	    padding-bottom:10vh;
		}
	
		
	  
	}



	.headC{
		margin-right: 10px;
		padding: 0;
		border: none;
		outline: none;
		background: none;
		font-size: 28px;
		opacity: 0.5;
		cursor: pointer;
	 }
	 
	 .headC:hover{
		opacity: 0.3;
	 }